.App {
  font-family: sans-serif;
  text-align: center;
}

.center-iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  max-width: 1060px;
  max-height: 500px;
}
